html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 10px 20px;
}
.btn{
    width: 100px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.3);
    display: block;
    color: seashell;
    float: left;
    margin-right: 20px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    text-decoration:none;
    transition: 1s;
    
}
.btn:hover{
    background-color:black;
}
.btn:active{
    background-color: blanchedalmond;
}
.btn_area{
    float: right;
}
#bg-1 {
    width: 100%;
    height: 100vh;
    background-image: url(img_parallax.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
}
#black_box1{
    width: 330px;
    height: 66px;
    background-color: #111111;
    color: #ffffff;
    font-size: 25px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bg-2{
    width: calc(100% - 160px);
    height: auto;
    padding: 50px 80px;
}
h2{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 7px;
}
p{
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1px;
    color: #777777;
}
#bg-3{
    background-image: url(img_parallax2.jpg);
    background-size: cover;
    background-position-y: center;
    height: 400px;
    width: 100%;
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;    
}
.mask2{
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 1s;
}
.mask2:hover{
    opacity: 0;
}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    color: #ffffff;
}
#bg-4{
    width: calc(100% - 160px);
    background-color: #282e34;
    height: 57px;
    padding: 50px 80px;
    color: #ffffff;
}
#bg-5{
    background-image: url(img_parallax3.jpg);
    background-size: cover;
    background-position-y: center;
    height: 400px;
    width: 100%;
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
}
#bg-6{
    width: calc(100% - 160px);
    background-color: #282e34;
    height: 57px;
    padding: 50px 80px;
    color: #ffffff;
}
#bg-7 {
    width: 100%;
    height: 100vh;
    background-image: url(img_parallax.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
}
#black_box2{
    width: 200px;
    height: 66px;
    background-color: #111111;
    color: #ffffff;
    font-size: 25px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}